[submodule "ThirdParty/minhook"]
	path = ThirdParty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "ThirdParty/dxvk"]
	path = ThirdParty/dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "ThirdParty/Vulkan-Headers"]
	path = ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ThirdParty/openvr"]
	path = ThirdParty/openvr
	url = https://github.com/ValveSoftware/openvr.git
